@using Syncfusion.Licensing
@inject Notes2022Server.Notes2022ServerClient Client

<Blazored.Modal.CascadingBlazoredModal HideCloseButton="true" DisableBackgroundCancel="true" HideHeader="true" Class="blazored-custom-modal">
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</Blazored.Modal.CascadingBlazoredModal>

@code
{
    protected override async Task OnParametersSetAsync()
    {
        AString key = await Client.GetTextFileAsync(new AString() { Val = "syncfusionkey.rsghjjsrsrj43632353" });
        SyncfusionLicenseProvider.RegisterLicense(key.Val);
    }

}