@*--------------------------------------------------------------------------
    **
    **  Copyright © 2022, Dale Sinder
    **
    **  Name: Index.razor
    **
    **  Description:
    **      Root of the app
    **
    **  This program is free software: you can redistribute it and/or modify
    **  it under the terms of the GNU General Public License version 3 as
    **  published by the Free Software Foundation.
    **
    **  This program is distributed in the hope that it will be useful,
    **  but WITHOUT ANY WARRANTY; without even the implied warranty of
    **  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    **  GNU General Public License version 3 for more details.
    **
    **  You should have received a copy of the GNU General Public License
    **  version 3 along with this program in file "license-gpl-3.0.txt".
    **  If not, see <http://www.gnu.org/licenses/gpl-3.0.txt>.
    **
    **--------------------------------------------------------------------------*@


@page "/"

@using Notes2022.Proto
@using Notes2022.Client.Comp
@using Syncfusion.Blazor.DropDowns

@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

<PageTitle>Notes 2022 Index</PageTitle>

<h2 class="center">Welcome to Notes 2022 @myState.UserInfo?.Displayname <img src="favicon.ico" width="32" /></h2>

<div>
    <h5 class="center">
        <span id="homepagetime">
            @mytime
        </span>
    </h5>
    @if (!myState.IsAuthenticated)
    {
        <p class="center"><strong>You are not logged in.  Please log in.  Register first if you need to.</strong></p>
    }
    @if (hpModel != null && !string.IsNullOrEmpty(hpModel.Message))
    {
        <div>@((MarkupString)@hpModel.Message)</div>
    }
    @if (myState.IsAdmin && hpModel == null)
    {
        <p class="center"><em>Loading...</em></p>
    }
    else if (hpModel != null)
        {
             <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 roundedindex keep-center">
                    <EditForm Model="@dummyFile">
                        <ChildContent Context="Typer">
                            <p class="center">
                                <label>
                                    <strong>Enter a NoteFile Name and press Enter:</strong>
                                    <InputText class="form-control short-input"
                                               ValueChanged="@( (string val) => TextHasChanged(val) )"
                                               Value="@dummyFile.NoteFileName"
                                               ValueExpression="@( () => dummyFile.NoteFileName )" />
                                </label>
                            </p>
                            <p class="center">
                                Or select a file<br />
                                <div class="btn btn-file form-control short-input">
                                <SfDropDownList TValue="int" TItem="GNotefile" Placeholder="Select a File" DataSource="@fileList" >
                                    <DropDownListEvents TItem="GNotefile" TValue="int" ValueChange="@ValueChangeHandler" ></DropDownListEvents>
                                    <DropDownListFieldSettings Value="Id" Text="NoteFileName"></DropDownListFieldSettings>
                                </SfDropDownList>
                                </div>
                            </p>

                            <p class="center">
                                Or select a title<br />
                                <div class="btn btn-title form-control short-input">
                                <SfDropDownList TValue="int" TItem="GNotefile" Placeholder="Select a Title" DataSource="@nameList.Notefiles" >
                                    <DropDownListEvents TItem="GNotefile" TValue="int" ValueChange="@ValueChangeHandler" ></DropDownListEvents>
                                    <DropDownListFieldSettings Value="Id" Text="NoteFileTitle"></DropDownListFieldSettings>
                                </SfDropDownList>
                                </div>
                            </p>
                        </ChildContent>
                    </EditForm>
                    <p class="center">
                        <a href="notesfiles"><strong>List of all NotesFiles</strong></a>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-4">
                    <h4>Important Files</h4>
                    <ul>
                        @for (int i = 0; i < impfileList.Notefiles.Count; i++)
                        {
                             item = impfileList.Notefiles[i];
                            <li>
                               <FileButton NoteFile="@item"></FileButton>
                            </li>
                        }
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>History Files</h4>
                    <ul>
                        @for (int i = 0; i < histfileList.Notefiles.Count; i++)
                        {
                             item = histfileList.Notefiles[i];
                            <li>
                               <FileButton NoteFile="@item"></FileButton>
                            </li>
                        }
                    </ul>
                </div>
            </div>

           
        
        
    } 
</div>

